/* RESETING STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  /* opacity: 0.9; */
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

a {
  text-decoration-color: seashell;
}

/* HEADER/NAVBAR */

#header {
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.logo {
  height: 60px;
  padding: 8px;
}

#navbar {
  display: flex;
  align-items: center;
}

#navbar ul {
  display: flex;
  list-style: none;
  text-decoration: underline;
  justify-content: flex-end;
  align-items: center;
}

#navbar li {
  padding: 1rem;
  font-weight: bold;
  color: seashell;
}

/* ----HEADER/NAVBAR---------------- */

/* JUMBOTRON */
#jumbotron {
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  opacity: 0.9;
}

.content {
  text-align: center;
  padding-top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: seashell;
  /* background-color: black; */
  opacity: 0.8;
  display: block;
}

.content h2, h4{
  background-color: black;
  padding: 0.4rem;
}