/* RESETING STYLE */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: black;
  /* opacity: 0.9; */
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
}

a {
  text-decoration-color: seashell;
}

/* HEADER/NAVBAR */

#header {
  border-bottom: 1px solid seashell;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  z-index: 100;
  overflow: hidden;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: black;
}

.logo {
  height: 60px;
  padding: 8px;
}

#navbar {
  display: flex;
  align-items: center;
}

#navbar ul {
  display: flex;
  list-style: none;
  text-decoration: underline;
  justify-content: flex-end;
  align-items: center;
}

#navbar li {
  padding: 1rem;
  font-weight: bold;
  color: seashell;
}

/* JUMBOTRON */
#jumbotron {
  background-image: url("../images/img-mission-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 800px;
  width: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  opacity: 0.9;
  position: relative;
  top: 73px;
}

.content {
  text-align: center;
  padding-top: 18%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: seashell;
  /* background-color: black; */
  opacity: 0.8;
  display: block;
}

.content h2,
.content h4 {
  background-color: black;
  padding: 0.4rem;
}

/* SECTION1 - TYPES OF TEA  */

.content-section1 {
  text-align: center;
  display: flex;
  padding-top: 3.5rem;
  padding-bottom: 2rem;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  color: seashell;
  /* background-color: black; */
  opacity: 0.8;
  display: block;
}

.content-section1 h2 {
  padding-top: 2rem;
  padding-bottom: 1.5rem;
}

.content-section1 h3 {
  padding-bottom: 0rem;
}

.images-container {
  display: inline-flex;
  max-width: 1000px;
  height: auto;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin: 0 20%;
}

.images img {
  height: 200px;
  width: 300px;
  padding: 10px 10px;
}

.images p {
  text-align: center;
}

/* SECTION-2 LOCATIONS */
#locations {
  background-image: url("../images/img-locations-background.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 600px;
  width: auto;
  margin-left: 1.5rem;
  margin-right: 1.5rem;
  opacity: 1;
  margin-top: 73px;
}

.content-section-1 {
  text-align: center;
  padding-top: 73px;
}

.content-section-1 h2 {
  font-weight: 900;
}

.frames {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 15px;
  flex-wrap: wrap;
}

.frame {
  display: flex;
  flex-direction: column;
  background-color: black;
  margin-right: 40px;
  text-align: center;
  width: 300px;
  height: 250px;
  align-items: center;
  justify-content: center;
}

.frame h3 {
  font-weight: 900;
}

.frame h4 {
  padding-top: 30px;
}

/* COMMUNICATION  */
.communication {
  height: 200px;
  text-align: center;
}

.communication h2{
  padding-bottom: 32px;
}

.communication h5{
  padding-bottom: 22px;
}

.communication a{
  text-decoration: none;
  color: brown;
}